---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Zaly | Best Clothing Brand">
  <div class="container">
    <h2>Featured Products</h2>
    <h2>New Products</h2>
    <h2>For Women</h2>
    <h2>For Men</h2>
  </div>
</MainLayout>
