<footer class="footer">
  <div class="container">
    <div><a href="/">Zaly</a></div>
    <div>
      <ul>
        <li><a href="">Shop</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Term and Conditions</a></li>
      </ul>
      <ul class="social-panel">
        <a href=""
          ><img
            width="40"
            height="40"
            src="/public/icons/facebook-icon.svg"
            alt=""
          /></a
        >
        <a href=""
          ><img
            width="40"
            height="40"
            src="/public/icons/instagram-icon.svg"
            alt=""
          /></a
        >
      </ul>
    </div>
    <div>
      <p>&copy; Zaly 2025</p>
    </div>
  </div>
</footer>
