<nav class="navbar">
  <div class="topNav">
    <div class="container">
      <p class="mail">
        <a href="mailto:zaly@support.com.uk">zaly@support.com.uk</a>
      </p>
    </div>
  </div>
  <div class="innerNav">
    <div class="container">
      <a href="" class="brand">ZALY</a>
      <form action="" class="search-bar-area">
        <input type="search" name="search-input" id="search-input" />
        <button class="search-btn"><span>search_button</span></button>
      </form>
    </div>
  </div>
  <div class="bottomNav">
    <div class="container">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>
