<nav class="navbar">
  <div class="container">
    <div class="top-nav">
      <div>
        <div>uk</div>

        <form method="get">
          <input
            type="search"
            name="search_item"
            id="search_item"
            placeholder="Search what you want to wear......"
          />
          <button>search</button>
        </form>
      </div>
      <div>
        <div>
          <span>
            <img
              height="20px"
              weight="20px"
              src="/public/icons/shopping-bag.svg"
              alt="shopping cart"
            />
          </span>
        </div>

        <div>
          <a href=""><span>Login</span></a>
          <a href=""><span>Register</span></a>
        </div>
      </div>
    </div>
    <div class="bottom-nav">
      <a href="/" class="site-brand">Zaly</a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/product/">Products</a></li>
        <li><a href="/shop/">Shop</a></li>
        <li><a href="/collections/">Collections</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>
