---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

type Props = {
  title: string;
  description?: string;
};

const { title, description = "Get the best quality clothing designs" } =
  Astro.props;
---

<!doctype html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content="Zaly, Clothing, Men wears, Women wears, Bags, shoes, Jackets, Dress, Stylish, Urban clothing"
    />
    <meta />
    <meta />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
